---
title: COMM 230W Blog
layout: layouts/home.njk
description: Blog assignment page for skill assignment 5.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  This is my COMM320W blog site for skill assignment 5!
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>